name: ci

on:
  push:
    branches:
      - master
  pull_request:
    branches: "**"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  CI: 1
  RUST_BACKTRACE: short
  RUSTFLAGS: "-D warnings -W unreachable-pub -W rust-2024-compatibility"
  RUSTUP_MAX_RETRIES: 10

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - &checkout_depth_1
        name: checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 1
          submodules: recursive
      - name: rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - &cache
        name: cache
        uses: Swatinem/rust-cache@v2
      - &install_alsa_and_udev
        if: ${{ vars.INSTALL_ALSA_AND_UDEV == 'true' }}
        name: install alsa and udev (linux)
        run: sudo apt-get update; sudo apt-get install --no-install-recommends libasound2-dev libudev-dev
      - name: format
        run: cargo fmt --all -- --check
  clippy:
    runs-on: ubuntu-latest
    steps:
      - *checkout_depth_1
      - name: rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - *cache
      - *install_alsa_and_udev
      - name: clippy
        run: cargo clippy --locked --workspace --all-targets --all-features -- -D warnings
  build:
    runs-on: ubuntu-latest
    steps:
      - *checkout_depth_1
      - &install_rust
        name: rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - *cache
      - *install_alsa_and_udev
      - name: build
        run: cargo build --locked --workspace --all-targets --all-features
  test:
    runs-on: ubuntu-latest
    environment:
      name: codecov-io
      url: https://app.codecov.io/github/${{ github.event.repository.full_name }}
    steps:
      - *checkout_depth_1
      - *install_rust
      - *cache
      - *install_alsa_and_udev
      - &install_binstall
        name: install cargo-binstall
        uses: cargo-bins/cargo-binstall@main
      - name: install tarpaulin
        run: cargo binstall --no-confirm --force cargo-tarpaulin
      - name: print tarpaulin rust flags
        run: cargo tarpaulin --print-rust-flags
      - name: test with coverage
        run: cargo tarpaulin --workspace --engine llvm --timeout 120 --out xml lcov --skip-clean --target-dir target/tarpaulin --output-dir target/coverage --no-default-features --features test
      - name: upload coverage report to codecov.io
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: target/coverage
          fail_ci_if_error: true
  conventional-commits:
    runs-on: ubuntu-latest
    steps:
      - &checkout_depth_0
        name: checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: verify conventional commits
        uses: cocogitto/cocogitto-action@v4
        with:
          command: check
          args: --from-latest-tag
  check-pages:
    runs-on: ubuntu-latest
    outputs:
      pages_enabled: ${{ steps.check_pages.outputs.is_enabled }}
    steps:
      - name: check if github pages is enabled
        id: check_pages
        uses: AlexAegis/check-github-pages@v1
  mdbook:
    runs-on: ubuntu-latest
    needs: [check-pages]
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - *checkout_depth_1
      - *install_rust
      - *cache
      - *install_binstall
      - name: install mdbook
        run: cargo binstall --no-confirm --force mdbook
      - name: install mdbook-mermaid
        run: cargo binstall --no-confirm --force mdbook-mermaid
      - name: build book
        run: mdbook build
      - name: setup pages
        uses: actions/configure-pages@v5
        if: ${{ github.ref_name == github.event.repository.default_branch && github.event_name != 'pull_request' && needs.check-pages.outputs.pages_enabled == 'true' }}
      - name: upload artifact
        uses: actions/upload-pages-artifact@v4
        if: ${{ github.ref_name == github.event.repository.default_branch && github.event_name != 'pull_request' && needs.check-pages.outputs.pages_enabled == 'true' }}
        with:
          path: "target/book"
  deploy-github-pages:
    if: ${{ github.ref_name == github.event.repository.default_branch && github.event_name != 'pull_request' && needs.check-pages.outputs.pages_enabled == 'true' }}
    runs-on: ubuntu-latest
    needs: [mdbook, check-pages]
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: deploy to github pages
        uses: actions/deploy-pages@v4
        id: deployment
