name: release

on:
  push:
    branches:
      - master

jobs:
  release-plz-release:
    name: release-plz release
    runs-on: ubuntu-latest
    if: ${{ github.ref_name == github.event.repository.default_branch && github.repository_owner == 'AlexAegis' }}
    environment:
      name: crates-io
      url: https://crates.io/crates/${{ github.event.repository.name }} # Assuming repository name matches the most significant crate in the repository
    permissions:
      contents: write
      id-token: write
    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: true
          token: ${{ secrets.RELEASE_PLZ_TOKEN }}
      - name: rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: release-plz release
        uses: release-plz/action@v0.5
        with:
          command: release
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_PLZ_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
